<h1>{{users.name}}</h1>
<ul>
    {{#each users.bars}}
    <li>{{this.name}}</li>
    {{/each}}
</ul>

<h2>{{users.age}}</h2>

</div>

<div class="button primary">
    <a href="/users/{{users._id}}/edit">
        Edit User
    </a>
</div>

<form action="/users/{{users._id}}?_method=DELETE" method="POST">
    <button class="btn red" type="submit">Delete</button>
</form>