<h1>{{users.name}}</h1>
<ul>
    {{#each users.bars}}
    <a href="/users/{{../userId}}/bars/{{this._id}}">
        <li>{{this.name}}</li>
    </a>
    {{/each}}
</ul>

<h2>{{users.age}}</h2>

</div>

<div class="button primary">
    <a href="/users/{{users._id}}/edit">
        Edit User
    </a>
</div>

<div class="button primary">
    <a href="/users/{{users._id}}/bars/new">
        Add Bar
    </a>
</div>

<form action="/users/{{users._id}}?_method=DELETE" method="POST">
    <button class="btn red" type="submit">Delete</button>
</form>

<div class="button primary">
    <a href="/users">
        Home
    </a>
</div>