<h3>{{users.name}}</h3>
<div class="nav-wrapper green lighten-3">
    <div class="col s12">
        <a href="/users" class="breadcrumb black-text">Dashboard</a>
    </div>
</div>

<div class="user-profile">
    <div class="col l6">
        <div class="user-age">
            <p> Age: </p>
            <p>{{users.age}}</p>
        </div>
        <div class="card hide-on-small-only">
            <div class="card-image">
                <img src="{{users.image}}">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>{{users.bio}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="bars-list col sm 12 m4 l6">
        <h4>Favorite Bars</h4>
        <div>
            {{#each users.bars}}
            <div class="col s12 m7 l6">
                <div class="card hoverable">
                    <div class="card-stacked">
                        <div class="card-content">
                            <p>{{this.location}}</p>
                        </div>
                        <div class="card-action">
                            <a href="/users/{{../userId}}/bars/{{this._id}}">{{this.name}}</a>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>

<div class="buttons">
    <button class="btn white-text">
        <a href="/users/{{users._id}}/edit">
            Edit User
        </a>
    </button>

    <button class="btn white-text">
        <a href="/users/{{users._id}}/bars/new">
            Add Bar
        </a>
    </button>

    <form action="/users/{{users._id}}?_method=DELETE" method="POST">
        <button class="btn red" type="submit">Delete</button>
    </form>
</div>