<div class="nav-wrapper">
    <div class="col s12">
        <a href="/users" class="breadcrumb black-text">Users</a>
    </div>
</div>

<h3>{{users.name}}</h3>

<h4>Favorite Bars</h4>

<div class='beers-list'>
    <ul>
        {{#each users.bars}}
        <a href="/users/{{../userId}}/bars/{{this._id}}">
            <li>{{this.name}}</li>
        </a>
        {{/each}}
    </ul>
</div>

<h5> Age</h5>
<p>{{users.age}}</p>


<h5>About</h5>
<p>{{users.bio}}</p>

<button class="btn white-text">
    <a href="/users/{{users._id}}/edit">
        Edit User
    </a>
</button>

<button class="btn white-text">
    <a href="/users/{{users._id}}/bars/new">
        Add Bar
    </a>
</button>

<button class="btn white-text">
    <a href="/users">
        Users
    </a>
</button>


<form action="/users/{{users._id}}?_method=DELETE" method="POST">
    <button class="btn red" type="submit">Delete</button>
</form>