<h3>{{users.name}}</h3>
<div class="nav-wrapper">
    <div class="col s12">
        <a href="/users" class="breadcrumb black-text">Dashboard</a>
    </div>
</div>
<div class="user-age">
    <p> Age: </p>
    <p>{{users.age}}</p>
</div>
<div class="card small hide-on-small-only">
    <div class="user-profile card-image">
        <div class="profile-pic">
            <img src="{{users.image}}">
        </div>

        <div class="user-info card-content">
            <blockquote>{{users.bio}}</blockquote>
        </div>
    </div>
</div>
<h4>Favorite Bars</h4>

<div class='bars-list'>
    {{#each users.bars}}
    <div class="col s12 m7 l6">
        <div class="card hoverable">
            <div class="card-stacked">
                <div class="card-content">
                    <p>{{this.rating}}</p>
                </div>
                <div class="card-action">
                    <a href="/users/{{../userId}}/bars/{{this._id}}">{{this.name}}</a>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>


<button class="btn white-text">
    <a href="/users/{{users._id}}/edit">
        Edit User
    </a>
</button>

<button class="btn white-text">
    <a href="/users/{{users._id}}/bars/new">
        Add Bar
    </a>
</button>

<form action="/users/{{users._id}}?_method=DELETE" method="POST">
    <button class="btn red" type="submit">Delete</button>
</form>