<h3> {{beer.name}}</h3>

<li>{{beer.style}}</li>
<li>{{beer.rating}}</li>


<div class="button primary">
    <a href="/users/{{userId}}/bars/{{barsId}}/beers/new">
        Add Beer
    </a>
</div>

<div class="button primary">
    <a href="/users/{{userId}}/bars/{{barsId}}/beers/{{beerId}}/edit">
        Edit Beer
    </a>
</div>

<div class="button primary">
    <a href="/users">
        Home
    </a>
</div>