<h3>Edit Beer</h3>

<form action="/users/{{userId}}/bars/{{barId}}/beers/{{beersId}}?_method=PUT" method="POST">
    <div>
        <label for="name">Beer Name</label>
        <input type="text" name="name" value="{{beers.name}}">
    </div>
    <div>
        <label for="style">Beer Style</label>
        <input type="text" name="style" value="{{beers.style}}">
    </div>
    <div>
        <label for="abv">Beer's ABV</label>
        <input type="text" name="abv" value="{{beers.abv}}">
    </div>
    <div>
        <label for="rating">Beer Rating</label>
        <input type="text" name="rating" value="{{beers.rating}}">
    </div>
    <button class="btn" type="submit"> Update Beer</button>
    <br>
    <button class="waves-effect waves-light btn-small cancel-button">
        <a href="/users/{{userId}}/bars/{{barId}}/beers/{{beersId}}">cancel</a>
    </button>
</form>