<h3>Add New Beer</h3>
<div class="nav-wrapper">
    <div class="col s12">
        <a href="/users" class="breadcrumb black-text">Users</a>
        <a href="/users/{{userId}}/bars/{{barId}}" class="breadcrumb black-text">Bar</a>
        <a href="/users/{{userId}}/bars/{{barId}}/beers/{{beersId}}" class="breadcrumb black-text">Beer</a>
    </div>
</div>


<form action="/users/{{userId}}/bars/{{barId}}/beers" method="POST">
    <div>
        <label for="name">Beer Name</label>
        <input type="text" name="name">
    </div>
    <div>
        <label for="style">Beer Style</label>
        <input type="text" name="style">
    </div>
    <div>
        <label for="abv">Beer's ABV</label>
        <input type="text" name="abv">
    </div>
    <div>
        <label for="rating">Beer Rating</label>
        <input type="text" name="rating">
    </div>
    <button class="btn white-text" type="submit">Add Beer</button>
    <br>
</form>

<button class="btn">
    <a href="/users/{{userId}}/bars/{{barId}}">cancel</a>
</button>