<h3>{{bar.name}}</h3>

<div class="nav-wrapper green lighten-3">
    <div class="col s12">
        <a href="/users" class="breadcrumb black-text">Dashboard</a>
        <a href="/users/{{users._id}}" class="breadcrumb black-text">{{users.name}}</a>
    </div>
</div>
<div class="bar-info">
    <div class="bar-location">
        <p>Location</p>
        <li>{{bar.location}}</li>
    </div>
    <div class="bar-rating">
        <p>Rating</p>
        <li>{{bar.rating}}</li>
    </div>
</div>

<ul class="collection with-header">
    <li class="collection-header">
        <h4>Beers Tasted</h4>
    </li>
    {{#each bar.beers}}
    <li class="collection-item">
        <div>{{this.name}} &nbsp &nbsp Rating: &nbsp {{this.rating}} &nbsp &nbsp Style: &nbsp {{this.style}}
            <a href="/users/{{../userId}}/bars/{{../bar._id}}/beers/{{this._id}}" class="secondary-content">
                <i class="material-icons">directions_run</i>
            </a>
        </div>
    </li>
    {{/each}}
</ul>

<button class="btn">
    <a href="/users/{{users._id}}">
        User Profile
    </a>
</button>

<button class="btn">
    <a href="/users/{{userId}}/bars/{{barsId}}/beers/new">
        Add Beer
    </a>
</button>

<form action="/users/{{users._id}}/bars/{{bar._id}}?_method=DELETE" method="POST">
    <button class="btn red" type="submit">Delete</button>
</form>