<h1>
    {{bar.name}}</h1>
<ul>
    {{#each bar.beers}}
    <a href="/users/{{../userId}}/bars/{{../bar._id}}/beers/{{this._id}}">
        <li>{{this.name}}</li>
    </a>
    {{/each}}
</ul>

<h2>{{bar.location}}</h2>
<h2>{{bar.rating}}</h2>


<form action="/users/{{users._id}}/bars/{{bar._id}}?_method=DELETE" method="POST">
    <button class="btn red" type="submit">Delete</button>
</form>

<div class="button primary">
    <a href="/users">
        Home
    </a>
</div>