<h3>{{bar.name}}</h3>
<ul>
    {{#each bar.beers}}
    <a href="/users/{{../userId}}/bars/{{../bar._id}}/beers/{{this._id}}">
        <li>{{this.name}}</li>
    </a>
    {{/each}}
</ul>

<h4>{{bar.location}}</h4>
<h4>{{bar.rating}}</h4>


<form action="/users/{{users._id}}/bars/{{bar._id}}?_method=DELETE" method="POST">
    <button class="btn red" type="submit">Delete</button>
</form>

<div class="button primary">
    <a href="/users">
        Home
    </a>
</div>

<div class="button primary">
    <a href="/users/{{userId}}/bars/{{barsId}}/beers/new">
        Add Beer
    </a>
</div>